
/* Styles for screens between 769px and 1024px */
@media (max-width: 1024px) {
    section .imgBg {
        width: 100%;
        
        position: fixed; /* Make it a background */
        z-index: -1; /* Move it behind the form */
    }

    section .content .form h2 {
        color: #FFF;
    }


    section .content .form .input span {
        color: #fff;
    }
    
    section .content {
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: 800;
    }

    section .content .form .input p a{
        color: #6198db;
        font-size: 20px;    

    }

    section .content .form .input p {
        white-space: nowrap;
        font-size: 20px;    
    }


    section .content .form .remember  {
        margin-bottom: 15px;
        color: #FFF;
    }

    section .content .form .remember input[type="checkbox"] {
        width: 16px;
        height: 16px;

        margin-right: 5px;
        margin-bottom: 20px;
    }

    section .content .form .input input {
        width: 100%;
        padding: 15px 3%;
        border: 3px solid #6198db;
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 1px;
        background-color: #6198db;
    }
}

/* Styles for screens smaller than 769px */
@media (max-width: 768px) {
    section .content {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }


    section .content .image img {
        width: 150px;
        height: auto;
    }

    section .content .form .input span {
        color: #fff;
    }
    
    section .content .form .input input {
        border: 3px solid #6198db;
        background-color: #6198db;
        color: #fff;
    }

    section .content .form .input input[type="submit"] {
        background: #2864AE;
        color: #fff;
        border: none;
        border-radius: 30px; /* Add rounded corners to the button */
        cursor: pointer;
    }

    section .content .form .remember label {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    section .content .image img {
        max-width: 100%;
        height: auto;
    }
}

/* Styles for screens between 52    5px and 768px */
@media (max-width: 525px) {
    
    section .content .image img {
        width: 80px;
        height: auto;
    }

    section .content .form .input p {
        white-space: normal;  
    }
    section .content .form .input a {
        display: block; /* Make the <a> element a block-level element, causing it to appear on a new line */
    }

    section .content {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.85);
    }

    section .content .form .input span {
        color: #fff;
        font-size: 18px; 
    }
    
    section .content .form .input input {
        border: 2px solid #A7BFDE; 
        background-color: #A7BFDE;
        color: #fff;
        padding: 10px 2%;
        font-size: 14px;
    }

    section .content .form .input input[type="submit"] {
        background: #2864AE;
        color: #fff;
        border: none;
        border-radius: 20px; /* Slightly rounded corners for the button */
        cursor: pointer;
        padding: 10px 2%; /* Smaller padding */
        font-size: 16px; /* Slightly larger font size */
    }

    section .content .form .remember label {
        font-size: 14px;
    }

    section .content .image img {
        max-width: 100%;
        height: auto;
    }
}