/* Styles for screens between 769px and 1024px */
@media (max-width: 1024px) {
    section .imgBg {
        width: 100%;

        position: fixed; /* Make it a background */
        z-index: -1; /* Move it behind the form */
    }

    section .content .form h2 {
        color: #FFF;
    }


    section .content .form .input span {
        color: #fff;
    }

    section .content {
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        font-weight: 800;
    }

    section .content .form .input p a{
        color: #A7BFDE;
        font-size: 20px;    

    }

    section .content .form .input p {
        white-space: nowrap;
        font-size: 20px;    

        color: #fff;
    }


    section .content .form .remember  {
        margin-bottom: 15px;
        color: #FFF;
    }

    section .content .form .remember input[type="checkbox"] {
        width: 16px;
        height: 16px;

        margin-right: 5px;
        margin-bottom: 20px;
    }

    section .content .form .input input {
        width: 100%;
        padding: 15px 3%;
        border: 3px solid #2864AE;
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 1px;
        background-color: #fff;
    }
}

@media (max-width: 525px) {

    section .content .image img {
        width: 150px;
        height: auto;
    }

    section .content .form .input p {
        white-space: normal;  
    }
    section .content .form .input p a {
        display: block;
        color: #A7BFDE;
    }

    section .content {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.85);
    }

    section .content .form h2 {
        color: #A7BFDE;

        border-bottom: 4px solid #2864AE;
    }


    section .content .form .input span {
        color: #fff;
        font-size: 18px; 
    }

    section .content .form .input input {
        border: 2px solid #A7BFDE; 
        background-color: transparent;
        color: #A7BFDE;
        padding: 10px 2%;
        font-size: 14px;
    }

    section .content .form .input input[type="submit"] {
        background: #2864AE;
        color: #fff;
        border: none;
        border-radius: 20px; /* Slightly rounded corners for the button */
        cursor: pointer;
        padding: 10px 2%; /* Smaller padding */
        font-size: 16px; /* Slightly larger font size */
    }

    section .content .form .remember label {
        font-size: 14px;
    }
}